*{
    border:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.grid_container{
    display:grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px ;
    gap:10px;
}

.grid{
    background-color:yellow;
}

.heading{
    width:100%;
    text-align: center;
    margin-top: 20px;
}


.card-container{
    padding:20px;
    gap:20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card{
    width:360px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow:0px 0px 4px rgba(255, 255, 255, 0.63);
    text-align: center;
}

.card:hover{
    transform:translateY(-3px);
    background-color: rgb(222, 243, 236);
}

main{
    margin:auto;
}
.card-container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: space-between; /* Add space between cards */
}

.card {
    width: 30%; /* Three cards per row on larger screens */
    margin-bottom: 20px; /* Add some space between cards */
}

/* Media query for screens between 601px and 900px */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .card {
        width: 48%; /* Two cards per row on medium-sized screens */
    }
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
    .card {
        width: 100%; /* Make cards take full width on smaller screens */
    }
}